.container {
    margin: 20px auto;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    font-family: "Poppins";
    font-size: 1.2rem;
    width: fit-content;
    margin-bottom: 20px;
    border: 2px dashed black ;
    padding: 3px 16px;
}
.button:hover {
    cursor: pointer;
}
.joke::before {
    content:"\275d"" ";
    font-size: 1.7rem;
}
.joke::after {
    content: " ""\275E";
    font-size: 1.7rem;
}
.joke{
    padding: 50px 80px;
    border-radius: 10px;
    border: 2px solid purple;
    background-color: rgba(127, 255, 212, 0.5);
    line-height: 1.4;
    font-size: 1.5rem;
    font-family: "Poppins";
    text-align: center;
}

/* 
❛	275B	HEAVY SINGLE TURNED COMMA QUOTATION MARK ORNAMENT
❜	275C	HEAVY SINGLE COMMA QUOTATION MARK ORNAMENT
❝	275D	HEAVY DOUBLE TURNED COMMA QUOTATION MARK ORNAMENT
❞	275E	HEAVY DOUBLE COMMA QUOTATION MARK ORNAMENT
❟	275F	HEAVY LOW SINGLE COMMA QUOTATION MARK ORNAMENT
❠	2760 
*/